@import "_variables.scss";
.about {
	.row:nth-child(2) {
		margin-top: 10px;
	}
	.img-responsive {
		display: inline;
	}
	.page-header-bg {
		background-color: $secondary-color;
		padding: 10px 0 10px 0;
	}
}
