@import "_variables.scss";
.footer { 
	background-color: #0066cc;
	border: 2px solid #bfcbdc;
	h3{

	font-weight: bold;
	
}

#phone{
	color: black;
}

a{
	color: black;
}

.img-circle{
	width: 140px;
	height: 140px;
	align: left;
}

p{
	text-indent: 50px;
}

.align{

	align: right;
}

}


