@import "_variables.scss";
.navigation {

	.jumbotron {
		background-color: $primary-color-text;padding: 0 0 0 0;margin: 0 0 0 0;
		h1 {font-size: 30px;}
		img {margin:10px;}
	} // end .jumbotron

	#jumboText {
		h3 {font-size:20px;}
		color: #000;
	} // end #jumboText

	.navbar-default {
		margin-bottom:0;
		h4 {color:$primary-color-text;}
		border-radius:0; 
		background-color:$primary-color-dark;
		border: 1px solid $wireframe-border-color;
		.navbar-collapse {border-top:0}
		.navbar-brand {padding:0 0 0 15px;}
		.navbar-nav>li>a {color:$primary-color-text; font-weight:bold;}
		.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{background-color:$primary-color-light;color:$primary-color-dark;}
		.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus, .navbar-nav>.active>a {background-color:$primary-color-light;color:$primary-color-dark;}
		.navbar-nav .open .dropdown-menu>li>a {color:$primary-color-dark;}
		.navbar-nav .open .dropdown-menu>li>a:hover {color:$primary-color-text;}
		.dropdown-menu{
			background-color:$primary-color-light;
			border-radius:0;
			border:0;
			padding:5px;
			margin:0;
			li {
				a {color:$primary-color-dark; font-weight:bold;}
					a:hover{background-color:$primary-color-light;color:$primary-color-text;}
			} // end li
		} // end .dropdown-menu
	} // end .navbar-default
} // end .navigation