@import "_variables.scss";
.navigation {

	.jumbotron {
		background-color: $primary-color-text;padding: 0 0 0 0;margin: 0 0 0 0;
		h1 {font-size: 30px;}
		img {margin:10px;}
	} // end .jumbotron

	#jumboText {
		color: #000;
	} // end #jumboText

	.navbar-default {
		border-radius:0; 
		background-color:$primary-color-dark;
			.navbar-nav>li>a {color:$primary-color-text; font-weight:bold;}
			.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{background-color:$primary-color-light;color:$primary-color-dark;}
			.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {background-color:$primary-color-light;color:$primary-color-dark;}
		.dropdown-menu{
			background-color:$primary-color-light;
			border-radius:0;
			border:0;
			padding:5px;
			margin:0;
			li {
				a {color:$primary-color-dark; font-weight:bold;}
					a:hover{background-color:$primary-color-light;color:$primary-color-text;}
			} // end li
		} // end .dropdown-menu
	} // end .navbar-default
} // end .navigation