font {
 font-family: Verdana, Geneva, sans-serif;
}

footer {
	background-color: #eee;
	border: 1px solid #4D554D;
}

.block {
	background-color:#eee;
	border: 1px solid #4D554D;
	margin-bottom:20px;
	padding: 0 5px 0 5px;
}

.jumbotron {
    // position: relative;
    // background: url("http://www.mrwallpaper.com/wallpapers/dog-soap-bubbles.jpg");
    // background: url(http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg);
    // background-size: cover;
    // background-position: center center;
    background-color: #fff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	
}

.jumbotron h1 {
	font-size: 42px;
}

#jumboText {
	color: #000;
}

.navbar-default {
	background-color:#eee;
	border: 1px solid #4D554D;
}


/* Flexible Google Maps iFrame */

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,   
.flexible-container object,  
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
