---
# Only the main Sass file needs front matter (the dashes are enough)
---

//setup
@charset "utf-8";

// @import
@import "bootstrap";
// this is needed to load glyphicons
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// import page specific Sass particals
@import "../../../css/_variables.scss";
@import "../../../css/_footer.scss";
@import "../../../css/_navigation.scss";
@import "../../../css/_home.scss";
@import "../../../css/_about.scss";
@import "../../../css/_contact.scss";

// global Sass

//variables
$pageHeaderColor: gainsboro;

//Custom Sass Start
$wireframe-color: #eee;
$wireframe-border-color: #4D554D;

//custom Sass

html, body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: auto !important;
  overflow-x: hidden !important;
}

font {

}

.block {
	background-color: $wireframe-color;
	border: 1px solid $wireframe-border-color;
	margin-bottom:20px;
	padding: 0 5px 0 5px;
	width: 50%;
}

.box {border:0px solid #0066cc;}
.box h2 {background:#0066CC;color:white;padding:10px;}
.box p {color:#333;padding:10px;}
.box {background-color:#BFCDDC;}
.box {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
}

.today-date-row {
	background-color:$primary-color-light;
	color:#fff;
}

.bath{
	display:block;
	margin:auto;
}

#jumboText {
	color: #000;
}

.navbar-default {
	background-color: $wireframe-color;
	border: 1px solid $wireframe-border-color;
}
