---
# Only the main Sass file needs front matter (the dashes are enough)
---

//setup
@charset "utf-8";

// @import
@import "bootstrap-sprockets";
@import "bootstrap";
// this is needed to load glyphicons
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

//variables
$wireframe-color: #eee;
$wireframe-border-color: #4D554D;

//custom Sass
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

font {
 font-family: Verdana, Geneva, sans-serif;
}

footer {
	background-color: $wireframe-color;
	border: 1px solid $wireframe-border-color;
}

.block {
	background-color: $wireframe-color;
	border: 1px solid $wireframe-border-color;
	margin-bottom:20px;
	padding: 0 5px 0 5px;
}

.jumbotron {
    background-color: #fff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.jumbotron h1 {
	font-size: 42px;
}

#jumboText {
	color: #000;
}

.navbar-default {

	background-color: $wireframe-color;
	border: 1px solid $wireframe-border-color;
}

	background-color:#eee;
	border: 1px solid #4D554D;
}


/* Carousel Properties */

#carousel {
	border:1px solid #000;
	margin-bottom:20px;
}

.carousel-caption h3{
	color:#000;
}

.carousel-indicators li {
	border-color:#000;
}


