---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// // Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }



// Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "base",
//         "layout",
//         "bootstrap",
//         "syntax-highlighting"
// ;
@import
	"bootstrap"
;

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

font {
 font-family: Verdana, Geneva, sans-serif;
}

footer {
	background-color: #eee;
	border: 1px solid #4D554D;
}

.block {
	background-color:#eee;
	border: 1px solid #4D554D;
	margin-bottom:20px;
	padding: 0 5px 0 5px;
}

.jumbotron {
    // position: relative;
    // background: url("http://www.mrwallpaper.com/wallpapers/dog-soap-bubbles.jpg");
    // background: url(http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg);
    // background-size: cover;
    // background-position: center center;
    background-color: #fff;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.jumbotron h1 {
	font-size: 42px;
}

#jumboText {
	color: #000;
}

.navbar-default {
	background-color:#eee;
	border: 1px solid #4D554D;
}


/* Carousel Properties */

#carousel {
	border:1px solid #000;
	margin-bottom:20px;
}

.item {
	height:300px;
}

.carousel-caption h2{
	color:#000;
}

.carousel-indicators li {
	border-color:#000;
}


