---
# Only the main Sass file needs front matter (the dashes are enough)
---

//setup
@charset "utf-8";

// @import
@import "bootstrap";
// this is needed to load glyphicons
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// import page specific Sass particals
@import "../../../css/_variables.scss";
@import "../../../css/_footer.scss";
@import "../../../css/_navigation.scss";
@import "../../../css/_home.scss";

// global Sass

//variables
$pageHeaderColor: gainsboro;

//Custom Sass Start
$wireframe-color: #eee;
$wireframe-border-color: #4D554D;

//custom Sass

html, body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: auto !important;
  overflow-x: hidden !important;
}

font {

}

.block {
	background-color: $wireframe-color;
	border: 1px solid $wireframe-border-color;
	margin-bottom:20px;
	padding: 0 5px 0 5px;
}

.today-date-row {
	background-color:$primary-color-light;
	color:#fff;
}





