<footer class="container-fluid">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

  <div class="col-md-12">
    <h3>A Footer man</h3>
  </div>
  <div class="col-md-4">
    <ul class="list-unstyled">
      <li>thing1</li>
      <li>thing1</li>
      <li>thing1</li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul class="list-unstyled">
      <li>thing1</li>
      <li>thing1</li>
      <li>thing1</li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul class="list-unstyled">
      <li>thing1</li>
      <li>thing1</li>
      <li>thing1</li>
    </ul>
  </div>

</footer>
