
<footer class="container-fluid footer">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<!--refrencing Javascript file-->
<script src="{{site.baseurl}}/js/javascript.js"></script>

<div class="container">
	
	<div class="row">

	  <div class="col-md-2 text-center">

	  	<span class="glyphicon glyphicon-chevron-left testimonialArrow" id="leftButton"></span>
		<img src="http://placehold.it/80x80" class="img-circle testimonialImage">
		<span class="glyphicon glyphicon-chevron-right testimonialArrow" id="rightButton"></span>
		<h5 class="testimonialName">First Last</h5>

	  </div><!--col-md-2-->

	  <div class="col-md-6 testimonialCol">
	  	<p class="testimonialText">Testimonial Text</p>
	  </div><!--col-md-6-->

	  <div class="col-md-4">

	  	<h3>Contact</h3>
	  	<p><a href="https://www.google.com/maps?ll=28.779792,-81.274562&z=18&t=m&hl=en-US&gl=US&mapclient=embed&q=2620+S+Orlando+Dr+Sanford,+FL+32773"><span class="glyphicon glyphicon-map-marker"></span> 2620 South Orlando Drive, Sandford Fl, 32773</a></p>
	  	<p><a href="tel:4073234707"><span class="glyphicon glyphicon-phone"></span> (407) 323-4707</a></p>

	  </div><!--./col-md-4-->

	  </div><!--./row-->

  </div><!--./container-->

</footer>
