{% assign current = page.url | downcase | split: '/' %}

<header class="site-header navigation">

<div class="row jumbotron hidden-xs">
  <div class="container">
    <div class="col-md-3">
      <img src="http://placehold.it/300x150" class="img img-responsive">
    </div>
    <div class="col-md-3" id="jumboText">
      <h3>Murphy Veterinary Clinic</h3>
    </div>
    <div class="col-md-4 col-md-offset-1 contact-block">
      <ul class="list-unstyled">
        <li>Call for an appointment:</li>
        <li><a href="tel:+14073234707" id="phoneNumber"><span class="glyphicon glyphicon-earphone"></span> (407) 323-4707</a></li>
        <li>Walk-ins and Same Day Appointments</li>
        <li>(Based on Availability)</li>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="/">
        <img src="http://placehold.it/100x50" class="img img-responsive">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li {% if current[1] == 'index.html' %}class='active'{% endif %}><a href="/">Home</a></li>
        <li {% if current[1] == 'about' %}class='active'{% endif %}><a href="/about">About</a></li>
        <li {% if current[1] == 'services' %}class='dropdown active'{% else %}class='dropdown'{% endif %}>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/services/medical">Medical</a></li>
            <li><a href="/services/boarding">Boarding</a></li>
          </ul>
        </li>

        <li {% if current[1] == 'adopt' %}class='dropdown active'{% else %}class='dropdown'{% endif %}>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adopt<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/adopt/cats">Cats</a></li>
            <li><a href="/adopt/dogs">Dogs</a></li>
          </ul>
        </li>
        <li {% if current[1] == 'contact' %}class='active'{% endif %}><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>
