{% assign current = page.url | downcase | split: '/' %}
{% assign primary = current[1] %}
{% assign secondary = current[2] %}
<h5>{{primary}}</h5>
<h5>{{secondary}}</h5>


<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
    <div class="page-content">
	  {% include header.html %}
	  <div class="pageBanner">
  	  	<div class="CoverImage FlexEmbed FlexEmbed--3by1" style="background-image:url(/images/exCover.jpg)"></div>
  	  </div>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
