<!DOCTYPE html>

<!-- This custom layout puts the navbar below the jumbotron -->

<html>
{% include head.html %}
 <div class="jumbotron">
  <div class="container">
    <div class="row">
		<div class="col-md-6">
			<img src="/images/kittens.png" class="img img-responsive">
		</div>
		<div class="col-md-6" id="jumboText">
			<h1>Murphy Veterinary Clinic</h1>
		</div>
    </div>
  </div>
</div>

  <body>
    <div class="page-content">	
      <div class="wrapper">
	  {% include header.html %}
      {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
